body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    display: block;
    color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    background: #4E9CAF;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
 }

a:hover {
 background-color: #0056b3;
}

.table {
    align-item: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    width: auto%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

td {
    border-bottom: 1px solid black;
    border-style: dotted;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.multiline {
  white-space: pre-wrap;
}

.book_info {
    word-break: break-word;
}

