<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/manager_app_style.css}" rel="stylesheet" />
    <title data-th-text="#{'errors.404.title'}"></title>
</head>
<body>
    <h1 data-th-text="#{'errors.404.header'}"></h1>
    <p th:text="${error}"></p>
    <a href="list">К списку книг</a><br>
</body>
</html>