<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${book.title }]] &ndash; Manager-app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/manager_app_style.css}" rel="stylesheet" />
</head>
<body>
<a data-th-href="@{/catalogue/books/list}">К списку книг</a><br>
<a data-th-href="@{/catalogue/books/create}">Добавление книги</a><br>
<a data-th-href="@{/catalogue/books/{uuid}/edit (uuid=${book.uuid})}">Изменение этой книги</a>

    <h1>Информация о книге:</h1>
    <ul class="book_info">
        <li><strong>ID</strong>: <span data-th-text="${book.uuid}"></span> </li>
        <li><strong>Title</strong>: <span data-th-text="${book.title}"></span> </li>
        <li><strong>Description</strong>: <div class="multiline" data-th-text="${book.description}"></div></li>
    </ul>
    <form method="post" data-th-action="@{/catalogue/books/{uuid}/delete (uuid=${book.uuid})}">
        <button type="submit">Удаление этой книги</button>
    </form>
</body>

</html>