<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение книг &ndash; Manager-app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/manager_app_style.css}" rel="stylesheet" />
</head>
<body>
<a data-th-href="@{/catalogue/books/list}">К списку книг</a><br>
<a data-th-href="@{/catalogue/books/{bookID}(bookID=${book.uuid})}">Обратно на страницу книги</a>
    <h1 class="test">Изменение книги:</h1>
    <div data-th-if="${errors}">
        <h2>Допущенны ошибки</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
    <form method="post" data-th-action="@{/catalogue/books/{bookUuid}/edit (bookUuid= ${book.uuid})}">
        <label class="title">
            Название:<br>
            <input type="text" name="title" data-th-value="${book.title}"><br>
        </label>
        <label class="description">
            Описание:<br>
            <textarea name="description" cols="100" rows="20" data-th-text="${book.description}"></textarea>
        </label><br>
        <button type="submit">Изменить</button>
    </form>
</body>

</html>