<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг &ndash; Manager-app</title>
    <link th:href="@{/styles/manager_app_style.css}" rel="stylesheet" />
</head>

<body>
<a data-th-href="@{/catalogue/books/create}">Добавление книги</a>
<p><strong>Hello</strong>: <span data-th-text="${username}"></span> </p>
    <h1>Список книг</h1>
    <form method="get" data-th-action="@{list?filter={filter}}">
        <label>Фильтр:
            <input name="filter" type="text" data-th-value="${filter}">
        </label>
        <button type="submit">Найти по названию</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>#UUID</th>
            <th>Книга</th>
        </tr>
        </thead>
        <tbody>
            <tr data-th-each="book:${books}">
                <td data-th-text="${book.uuid}"></td>
                <td>
                    <a data-th-href="@{/catalogue/books/{uuid} (uuid=${book.uuid})}"
                    data-th-text="${book.title}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>